.btn-svg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  stroke-width: 4px;
  transition: all .1s ease-in;
}

.btn__red {
  stroke: var(--first-color);
  filter: drop-shadow(10px 10px 0 var(--first-color));
}

.btn__black {
  stroke: black;
  filter: drop-shadow(10px 10px 0 black);
}

.btn-a:hover .btn-svg {
  filter: unset;
}

.btn-a:hover {
  transform: translateY(10px) translateX(10px);
}

.btn-a {
  z-index: 2;
  width: 150px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .1s ease-in;
}