.votos {
  max-width: 1440px;
  width: 100%;
  margin: 2rem auto;
}

.votos__votacion {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap-reverse;
  margin: 0 auto;
  padding: 2rem;
}

.votos__submit {
  width: 100%;
  display: flex;
  justify-content: center;
}

.testimonios {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.testimonios__container {
  width: 100%;
  height: 100%;
  display: flex;
}