.tarjeta__cover {
  min-width: calc(100%/3);
  padding: 0 8px 8px 0;
}

.tarjeta__cover:nth-child(7) {
  background-color: red;
}

@media (max-width: 992px) {
  .tarjeta__cover {
    min-width: 50%;
  }

}

@media (max-width: 768px) {
  .tarjeta__cover {
    min-width: 100%;
  }

  .tarjeta__cover {
    display: grid;
    place-items: center;

  }
}

.testimonio__card {
  min-width: 300px;
  max-width: 450px;
  width: 100%;
  flex-basis: 30%;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #FFF;
  box-shadow: 8px 8px 0 black;
}

.testimonio__header {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  padding: .2rem 1rem;
  gap: 10px;
  margin-bottom: .5rem;
}

.testimonio__photo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  max-width: unset;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  object-fit: cover;
}

.testimonio__datos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonio__persona {
  font-size: 1.5rem;
}

.testimonio__fecha {
  font-size: .9rem;
}

.testimonio__body {
  padding: .4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.testimonio__points {
  display: flex;
  justify-content: space-between;
  height: 15px;
  margin-bottom: 10px;
}

.testimonio__stars {
  display: flex;
  flex: 1;
}

.testimonio__stars i {
  font-size: 1rem;
  color: rgb(255, 191, 15);
}

.testimonio__google {
  font-size: 1rem;
  color: rgb(0, 106, 255);
}

.testimonio__declaracion {
  margin-top: .3rem;
  white-space: normal;
}